<div class="autocomplete-results">
  <% @recipes.each do |recipe| %>
    <li class="list-group-item" role="option" data-autocomplete-value="<%= recipe.id %>" data-autocomplete-label="<%= recipe.name %>">
      <%= recipe.name %>
    </li>
  <% end %>
</div>
