<%= render 'search_form'%>
<h1>公式カクテル一覧</h1>

<% if @recipes.any? %>
  <div class="col">
    <% @recipes.each do |recipe| %>
      <%= render partial: "recipes/recipes-card", locals: { recipe: recipe } %>
    <% end %>
  </div>
<% else %>
  <p>カクテルが見つかりませんでした。</p>
<% end %>

<%= paginate @recipes, theme: 'bootstrap-5'  %>
