<div data-controller="loading" data-loading-target="container" class="loading-container" style="display: none;">
  <div class="glass">
    <div class="liquid"></div>
  </div>
  <p class="loading-text">カクテル生成中...お待ちください。</p>
</div>
