@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .card-hover:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.autocomplete-results {
  max-height: 200px;
  overflow-y: auto;
}

.list-group-item:hover {
  background-color: #f1f1f1;  // 背景色を変更
  transform: scale(1.05);      // 少し拡大
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);  // 影を追加
}

.alert {
  font-size: 16px; /* 文字サイズを調整 */
  padding: 5px 10px; /* 内側の余白を小さくしてコンパクトに */
  margin: 10px 0; /* 上下の余白を少しだけ */
  max-width: fit-content; /* アラートが文字の幅に合わせてサイズを調整 */
  border-radius: 8px; /* 角を丸く */
}