<footer class="text-center py-4" style="background-color: #1d2a3a; color: #c0c0c0;">
  <p>&copy; 2024 Cocktail Hub. All Rights Reserved.</p>
  <p>カクテルに関する情報をお楽しみください！</p>
  <p>
    <a href="/terms_of_service" class="text-decoration-none" style="color: #f5f5dc;">利用規約</a>
  </p>
  <p>
    <a href="/privacy_policy" class="text-decoration-none" style="color: #f5f5dc;">プライバシーポリシー</a>
  </p>
</footer>
